[submodule "tests/riscv-tests"]
	path = tests/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests
[submodule "formal/riscv-formal"]
	path = formal/riscv-formal
	url = https://github.com/YosysHQ/riscv-formal
[submodule "sim/riscv-isa-sim"]
	path = cosim/riscv-isa-sim
	url = https://github.com/riscv-software-src/riscv-isa-sim
[submodule "tests/riscv-arch-test"]
	path = tests/riscv-arch-test
	url = https://github.com/riscv-non-isa/riscv-arch-test
[submodule "bench/coremark"]
	path = bench/coremark
	url = https://github.com/eembc/coremark.git
